/* Utility class */
.bl-container-full{
  width: 100%;
}
.bl-container-centred{
  width: 80%;
  margin: auto;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.colored-dark-blue{
  color: #031C4E;
}
.colored-light-blue{
  color: #006AFF;
}
.colored-light-grey{
  color: #757575;
}
.bl-strong{
  font-weight: bold;
}
/* /Utility class */

/* navbar style */
.bl-navbar{
  border: 0;
  background-color: #fff;
  margin-bottom: 0;
}
.bl-navbar .colored,.bl-navbar.navbar-default .navbar-nav>li>a{
  color: #031C4E;
  font-weight: bold;
}
.bl-navbar.navbar-default .navbar-nav>li>a,.bl-button a{
  font-size: 14px;
  line-height: 25px;
  vertical-align: middle;
}
.bl-navbar.navbar-default .navbar-toggle .icon-bar{
  background-color: #3A8AFF;
  width: 15px;
}
.bl-navbar.navbar-default .navbar-toggle{
  border:none;
}
.navbar-brand img{
  height: 25px;
}
.bl-button{
  border:1px solid #006AFF;
  position: relative;
  top: 10px;
  padding: 3px 8px;
  border-radius: 10px;
}
.bl-button a{
  color: #006AFF;
  font-weight: bold;
}
.bl-nav-left{
  padding-left: 40px;
}
@media (min-width: 768px) and (max-width: 1000px) {
 .navbar-toggle {
   display: block !important;
   position: absolute;
   right: 0px;
   }
 #navbar{
     display: none !important;
   }
}
/* /navbar style */

/* jumbotron style */
.container-jumbotron{
 background-image: url("../img/sfondo-pesci.svg");
 background-size: cover;
 background-position: center;
}
.bl-jumbotron{
  padding-top: 70px;
  padding-left: inherit;
  padding-right: inherit;
  padding-bottom: 70px;
}
.bl-jumbotron h1{
  font-size: 60px;
  color: #fff;
}
.bl-jumbotron p{
  font-size: 25px;
  color: #bbcdff;
}
.bl-log-in{
  width: 95%;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
.bl-jumbotron .row div:nth-child(2){
  position: relative;
}
.bl-form-container{
 padding-top: 10px;
}
.bl-sing-in-btn{
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}
.form-group .bl-sing-in-btn:first-child{
  background-color: #3A8AFF;
  color: #fff;
}
.form-group .bl-sing-in-btn:last-child{
  box-shadow: 1px 1px 1px #000;
  text-align: center;
  position: relative;
}
.form-group .bl-sing-in-btn:last-child img{
 height: 20px;
 position: absolute;
 left: 0px;
}
[class*="form-control"]::placeholder{
  color:#757575;
  font-size: 20px;
}
.bl-form-container [class*="form-control"]{
  height: 40px;
  font-size: 20px;
}
.bl-log-in h2{
  padding-top: 20px;
}
.bl-subtitle{
  font-size: 30px;
}
.bl-terms{
  line-height: 40px;
  font-size: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .bl-jumbotron h1{
    font-size: 30px;
  }
  .bl-jumbotron p{
    font-size: 17px;
  }
}
/* /jumbotron style */

/* Sponsor section style */
 .bl-sponsor-container{
  background-color: #F3F5F9;
  text-align: center;
 }
 .bl-sponsor-container img{
   width: 150px;
   vertical-align: middle;
   padding: 10px 0px;
 }
 .bl-sponsor-container h4{
  padding: 50px 0px;
 }
 .bl-sponsor-container .row:last-child div{
  padding: 40px 0px;
 }
 .bl-sponsor-container .row:last-child a{
  font-size: 18px;
 }
/* /Sponsor section style */

/* main section */
.bl-main{
  width: 100%;
  padding:40px 0px;
}
.bl-main-head{
  padding-bottom: 20px;
  text-align: center;
  width: 90%;
  margin: auto;
}
.bl-main-head h1{
  padding-bottom: 20px;
}
.bl-sector{
  height: 200px;
  margin: 30px 0px;
}
.bl-sector-container ul{
  padding: 10px 25px 10px 2px;
  width: 100px;
  border-left: 2px solid #CCCCCC;
  text-align: right;
  margin-bottom: 50px;
}
.bl-sector-container ul li{
  padding: 5px 10px;
  text-align: left;
  list-style: none;
  font-size: 20px;
}
.bl-sector p{
  font-weight: 500;
  font-size: 16px;
}
.bl-sector span a{
  font-size: 16px;
}
.bl-main-design{
  margin-top: 30px;
}
.bl-design-sec{
  background-color: #F3F5F9;
  text-align: center;
}
.bl-carousel-container{
 margin:0 auto;
 text-align: center;
}
.bl-carousel-container img{
height: 500px;
}
.bl-carousel-container i{
  font-size: 60px;
}
.bl-carousel-container i:hover{
  color: #006AFF;
}
/* TODO: after pallini */

.bl-spot i:hover i {
  display:none
}
.bl-spot i:hover:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f111";
}
/* TABELLE sec */
.bl-table-container{
  background-image: url("../img/bg-map.svg");
  background-color: #031C4E;
  background-position: center;
  background-size: contain;
}
.bl-table-container .row .col-xs-12 ul li:first-child{
  color: #fff;
  width: 50px;
}
.bl-table-container .row .col-xs-12 ul li:nth-child(2){
  color: #F3F5F9;
  margin-left: 30px;
}
.bl-table-container .row .col-xs-12 ul:last-child{
  border-bottom: none
}
.bl-table-container ul li{
  display: inline-block;
}
.bl-table-container ul{
  border-bottom: 1px solid #fff;
  padding: 15px 0px;
}
.tabl-link{
  float: right;
}
.tabl-link a{
  color: #1abc9c;
}
.bl-table-sec{
text-align: center;
margin-top:70px;
}
.bl-header-container{
  background-color: #031C4E;
  width: 100%;
  padding: 25px 0px;
  text-align: center;
  color: #fff;
}
.bl-header-container h1{
  margin: 0px;
  font-size: 30px;
}
/* TABELLE sec */

/* SECONDO CAROUSEL */
#myCarousel{
  text-align: center;
}
.carousel-inner .item{
  max-width: 500px;
  min-height: 300px;
  margin: auto;
  margin-bottom: 30px;
  background-color: #fff;
}
.carousel-inner > .item > img{
  max-height: 30px;
  margin: 40px 0px;
  display: inline;
}
.carousel-inner > .item > span  a{
  font-size: 16px;
}
.carousel-inner,.second-carousel{
  background-color: #eee;
}
.second-carousel h1{
text-align: center;
margin: 0;
padding-top: 20px;
padding-bottom: 20px;
}
.carousel-control.right,.carousel-control.left{
  background-image: none;
}
/* SECONDO CAROUSEL */
@media (min-width: 769px) and (max-width: 1024px){

  .bl-carousel-container img{
    height: 500px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {

  .bl-carousel-container img{
    height: 400px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {

  .bl-carousel-container img{
   height: 200px;
  }
  .bl-carousel-container i{
    font-size: 50px;
  }
  .bl-second-carousel img{
    max-height: 20px;
  }
}
/* /main section */
/* FOOTER SECTION */
.pre-footer{
  background-color: #015BFF;
  text-align: center;
}
.pre-footer h2{
  color: #fff;
  font-weight: bold;
  padding-top: 40px;
  margin-top: 0;
}
.pre-footer a{
  background-color: #fff;
  margin-bottom: 30px
}
footer{
  background-color:#031C4E;
  position: relative;
}
.footer-sec ul li{
  list-style: none;
  font-size: 12px;
  padding: 5px 0px;
  color: #ccc;
}
.footer-sec i{
  font-size: 18px;
  padding:0px 5px;
}
.footer-sec ul li.frst-of-row{
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  font-size: 14px;
}
.fish-helper{
  position: fixed;
  bottom: 10px;
  right: 0px;
}
.fish-helper i{
font-size: 40px;
position: relative;
right: 8px;
top: 15px;
color: #fff;
}
.fish-img{
  vertical-align: middle;
}
.fish-say{
  background-color: #fff;
  padding: 20px 2px 20px 20px;
  border-radius: 10px;
  display: inline-block;
}

@media (min-width: 481px) and (max-width: 768px) {

  .fish-helper{
    position: fixed;
    bottom: 10px;
    right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {

  .fish-helper{
    position: fixed;
    bottom: 10px;
    right: 0px;
  }
}
/* FOOTER SECTION */

/* <!-- END VERSION CHECKED -->
<!-- =^-^= --> */
